@font-face {
    font-family: 'OPTIBelwe-Medium';
    src:url('font/OPTIBelwe-Medium.ttf.woff') format('woff'),
        url('font/OPTIBelwe-Medium.ttf.svg#OPTIBelwe-Medium') format('svg'),
        url('font/OPTIBelwe-Medium.ttf.eot'),
        url('font/OPTIBelwe-Medium.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

.flavor-text {
	color: white;
	font-size: 36;
	opacity: 0;
}

.artist {
	color: white;
	font-size: 24;
	opacity: 0;
}

.hs-font {
	font-family: 'OPTIBelwe-Medium', serif;
	font-weight: 400;
	color: white;
	text-shadow: 1px 1px 0 #000,1px -1px 0 #000,0 -1px 0 #000,0 1px 0 #000,-1px 1px 0 #000,-1px 0 0 #000,-1px -1px 0 #000;
	text-rendering: optimizeLegibility;
}

.disclaimer {
	position: fixed;
left: 0;
bottom: 0;
opacity: 0.1;
font-size: 10pt;
}

.disclaimer:hover {
	opacity: 1;
}

.container {
	width: 45%;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

iframe#bgm {
	display:none;
}

body{
    background:url("../img/hearthstone_bg.jpg");
    background-size: 100%;
}